@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #4A4A4A;
  --primary: #FFA97E;
  --accent-soft: #FFC6AE;
  --accent-warm: #FDC5BF;
  --bg-light: #FEE5D9;
  --text-headline: #4A4A4A;
  --text-body: #757575;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent-soft: var(--accent-soft);
  --color-accent-warm: var(--accent-warm);
  --color-bg-light: var(--bg-light);
  --color-text-headline: var(--text-headline);
  --color-text-body: var(--text-body);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #4A4A4A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
